.react-player-container {
  background-color: transparent;
  width: 100%;
  left: 0%;
  padding: 56.25% 5px 5px;
  border-radius: 0px;
  margin-top: 0%;
  margin-bottom: 0%;
  overflow: hidden;
  position: relative;
  height: 100%;
  /* max-width: 1024px; */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
